<div data-sly-use.respTabsModel="com.sling.tv.core.models.ResponsiveTabsModel" data-sly-unwrap />
<div data-sly-test="${wcmmode.edit && !respTabsModel.tabs}" class="editor-info">Click here to Configure Tabs </div>
<div id="${respTabsModel.tabsId}" class="tgc-container">
    <div class="tgc-header" data-sly-list="${respTabsModel.tabs}">
        <a data-sly-test="${item.hideTab != 'true'}" class="tgc-tab ${item.defaultTab == 'true' ? 'tgc-tab-selected' : ''}"
           href="#${item.tabId}" aria-controls="${item.tabId}" role="tab" data-toggle="tab">
            <img class="tgc-tab-image" data-sling-src="${item.tabIcon}"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
            <div class="tgc-tab-image tgc-tab-image-highlighted">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     data-sling-src="${item.tabIcon}"
                     width="100%" height="100%">

                    <filter id="water">
                        <feColorMatrix type="matrix" values="0.08 0 0 0 0
                                                             0 0.67 0 0 0
                                                             0 0 0.88 0 0
                                                             0 0 0    1 0 ">
                        </feColorMatrix>
                    </filter>
                    <image x="0" y="0" xlink:href="#rect" filter="url(#water)" width="100%" height="100%"></image>
                </svg>
            </div>
            <div class="tgc-tab-text">${item.tabTitle}</div>
            <div class="tgc-tab-highlight"></div>
        </a>
    </div>


    <!--/* Tab panes... In Preview mode, the responsive class is added...each of the parsys are below their tabs.. */-->
    <div class="${wcmmode.edit ? '' : 'tab-content'}" data-sly-list="${respTabsModel.tabs}">
        <sly data-sly-test.parName="${ '{0}{1}' @format=['par', itemList.index] }" />
        <div class="tab-pane fade ${wcmmode.edit ? 'tab-border' : ''}" data-sly-test="${item.hideTab != 'true'}" role="tabpanel"  id="${item.tabId}">
            <span data-sly-test="${wcmmode.edit}" > ${item.tabTitle}</span>
            <div data-sly-resource="${ @path=parName, resourceType='wcm/foundation/components/responsivegrid'}"></div>
        </div><!-- /.tab-panel -->

    </div><!-- /.tab-content -->

</div>
