<div data-sly-use.gridModel="com.sling.tv.core.models.GridInteractionModel" data-sly-unwrap />

<sly data-sly-test="${wcmmode.edit}"><p>click here to configure Grid Interaction Component</p></sly>

<div id="${gridModel.gridInteractionId}">
    <div class="js-grid-interaction-pc-grid link-to-grid-parse-pc-grid">
        <div class="js-grid-interaction link-to-grid-parse">
            <p class="js-grid-interaction-name link-to-grid-parse-name">tab 1-1</p>
            <div id='planOne--pc-grid-package-tab-1'
                 data-sly-resource="${ @path='par1', resourceType='wcm/foundation/components/responsivegrid'}"></div>
        </div>
        <div class="js-grid-interaction link-to-grid-parse">
            <p class="js-grid-interaction-name link-to-grid-parse-name">tab 1-2</p>
            <div id='planOne--pc-grid-package-tab-2'
                 data-sly-resource="${ @path='par2', resourceType='wcm/foundation/components/responsivegrid'}"></div>
        </div>
        <div class="js-grid-interaction link-to-grid-parse">
            <p class="js-grid-interaction-name link-to-grid-parse-name">tab 1-3</p>
            <div id='planOne--pc-grid-package-tab-3'
                 data-sly-resource="${ @path='par3', resourceType='wcm/foundation/components/responsivegrid'}"></div>
        </div>
        <div class="js-grid-interaction link-to-grid-parse">
            <p class="js-grid-interaction-name link-to-grid-parse-name">tab 2-1</p>
            <div id='planTwo--pc-grid-package-tab-1'
                 data-sly-resource="${ @path='par4', resourceType='wcm/foundation/components/responsivegrid'}"></div>
        </div>
        <div class="js-grid-interaction link-to-grid-parse">
            <p class="js-grid-interaction-name link-to-grid-parse-name">tab 2-2</p>
            <div id='planTwo--pc-grid-package-tab-2'
                 data-sly-resource="${ @path='par5', resourceType='wcm/foundation/components/responsivegrid'}"></div>
        </div>
        <div class="js-grid-interaction link-to-grid-parse">
            <p class="js-grid-interaction-name link-to-grid-parse-name">tab 2-3</p>
            <div id='planTwo--pc-grid-package-tab-3'
                 data-sly-resource="${ @path='par6', resourceType='wcm/foundation/components/responsivegrid'}"></div>
        </div>
        <div class="js-grid-interaction link-to-grid-parse">
            <p class="js-grid-interaction-name link-to-grid-parse-name">tab 3-1</p>
            <div id='planThree--pc-grid-package-tab-1'
                 data-sly-resource="${ @path='par7', resourceType='wcm/foundation/components/responsivegrid'}"></div>
        </div>
        <div class="js-grid-interaction link-to-grid-parse">
            <p class="js-grid-interaction-name link-to-grid-parse-name">tab 3-2</p>
            <div id='planThree--pc-grid-package-tab-2'
                 data-sly-resource="${ @path='par8', resourceType='wcm/foundation/components/responsivegrid'}"></div>
        </div>
        <div class="js-grid-interaction link-to-grid-parse">
            <p class="js-grid-interaction-name link-to-grid-parse-name">tab 3-3</p>
            <div id='planThree--pc-grid-package-tab-3'
                 data-sly-resource="${ @path='par9', resourceType='wcm/foundation/components/responsivegrid'}"></div>
        </div>
    </div>
</div>
